/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Droid+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');



.heading2 {
    font-family: 'Satoshi', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.heading3 {
    font-family: 'Satoshi', sans-serif;
}

.imgStyle {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.para2 {
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    text-align: center;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/OTF/Satoshi-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/OTF/Satoshi-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'Satoshi', sans-serif;
}