/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Droid+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');



.heading2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.heading3 {
    font-family: 'Libre Baskerville', sans-serif;
}

.imgStyle {
    max-width: 100%;
    height: auto;
}

.para2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 18px;
    text-align: center;
}